<ion-view view-title='Vagas'>

  <ion-nav-buttons side="left">
        <button class="button button-icon button-clear"
            ui-sref="app.main">
            <i class="icon ion-ios7-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
          <button class="button button-clear" ng-click="showActionsheet()">
              <i class="icon ion-android-share-alt"></i>
          </button>
    </ion-nav-buttons>


  <ion-content class="padding">
    <div class="hero slide-dow" style="background:url('{{jobs.featured_image}}'); background-size: 200px 200px; background-repeat: no-repeat; background-position: center; ">
      <div class="content jobs-details-text-destaque" ng-repeat="title in jobs.title">
        <div class="qw-title-bg"></div>
        <h2 class="qw-title" ng-bind-html=" title  | sanitize "></h2>
      </div>
    </div>
    <div class="jobs-details">
  		<div class="row details-info-company jobs-details-text" ng-repeat="company in jobs._Company">
  			{{company}} - Postada por <span ng-repeat="author in jobs._embedded" class="text-color-post"> <span ng-repeat="lister in author">{{lister.name}}</span></span>
  		</div>
      <div class="row type-date-job jobs-details-text">
        <div class="job-type" ng-repeat="type in jobs.job_type">
  				<span ng-if="type == 7">
  					<button class="button-type-job job_type estagio">
  					  Estágio
  					</button>
  				</span>
  				<span ng-if="type == 13">
  					<button class="button-type-job job_type emprego">
  					  Emprego
  					</button>
  				</span>
  			</div>
  			<span class="job-date jobs-details-text">{{ jobs.date | dateFormat }}<span>
  		</div>
    </div>

    <div class="clear"></div>
		<div class="row responsive-sm" ng-repeat="content in jobs.content">
			<h3>Descrição da vaga </h3>
			<span class="job-description" ng-bind-html=" content  | sanitize "></span>
		</div>

		<div class="row details-apply responsive-sm" ng-repeat="apply in jobs._how_to_apply">
			<h3>Como aplicar </h3>
			<span class="job-description" ng-bind-html=" apply  | sanitize "></span>
		</div>
    <div class="clear"></div>
  </ion-content>
</ion-view>
