<ion-view view-title='Blog'>

  <ion-nav-buttons side="left">
        <button class="button button-icon button-clear"
            ui-sref="app.main">
            <i class="icon ion-ios7-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
          <button class="button button-clear" ng-click="OtherShare()">
              <i class="icon ion-android-share-alt"></i>
          </button>
    </ion-nav-buttons>

  <ion-content class="padding" class="animate-fade-slide-in">

    <div class="hero slide-dow" style="background:url('{{blog.featured_image_thumbnail_url}}'); background-size: 200px 200px; background-repeat: no-repeat; background-position: center; ">
      <div class="content jobs-details-text-destaque" ng-repeat="title in blog.title">
        <div class="qw-title-bg"></div>
        <h3 ng-bind-html=" title  | sanitize "></h3>
  		</div>
    </div>

		<div class="content post-details-margin" ng-repeat="content in blog.content">
			<span ng-bind-html=" content  | sanitize "></span>
		</div>
  </ion-content>
</ion-view>
