<ion-view view-title='Vagas'>

  <ion-content class="padding" class="animate-fade-slide-in">
	<div class="list card" ng-repeat="(idx, job) in jobs">

		<a class="item item-thumbnail-left" href="#/tab/jobs/{{ idx }}">
      <!--div class="item item-avatar" -->
        <img src="{{ job.featured_image }}">
  		  <div ng-repeat="title in job.title">
    			<h2 ng-bind-html=" title  | sanitize " class="title-job"></h2>
    			<h3 ng-repeat="company in job._Company">{{company}} </h3>
    			<p> Postada por <span ng-repeat="author in job._embedded" class="text-color-post"> <span ng-repeat="lister in author">{{lister.name}}</span></span>
    			 </p>
    			<p>{{ job.date | dateFormat }}</p>
  		  </div>
      <!-- /div -->
		</a>
	</div>
  </ion-content>
</ion-view>
