/* Empty. Add your own CSS if you like */
.tabs .tab-item .icon.job {
 background-repeat: no-repeat;
 background-position:50%;
 width: 20%;
 background-image: url('../img/find-a-job.png');
 background-size:cover;
}

.tabs .tab-item .icon.blog {
 background-repeat: no-repeat;
 background-position:50%;
 width: 20%;
 background-image: url('../img/blog.png');
 background-size:cover;
}

.header-bg{
  background: url('../img/bg-default.png');
  background-repeat: repeat-x;
}

.text-color-post{
	color: #CB5451;
}

.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p{
	white-space: normal !important;
}

.type-date-job{
	display: inline-block;
	margin-top:5px;
}
.details-info-company{
	display: inline-block;
	margin-top: 5px;
}
.details-apply{
	display: block;
}
.job-date{
	float: left;
}


.button-type-job {
	color:#fff;
	padding:5px 12px;
	background:url('../img/noise-pattern.png')
}
.button-type-job.freelance, .button-type-job.red { background-color:#340034 !important}
.button-type-job.emprego, .button-type-job.green { background-color:#980F0F !important}
.button-type-job.trainee, .button-type-job.blue { background-color:#1A1A1A !important}
.button-type-job.estagio ,.button-type-job.gray { background-color:#003B00 !important}
.button-type-job.temporario, .button-type-job.black { background-color:#898900 !important}
.button-type-job.pessoa-juridica, .button-type-job.black { background-color:#898900 !important}

.button-type-job, .job-type{
	display: inline-block;
    float: right;
}

.tabs-qw{
  background-color: #d8d8d8;
}

.tabs-custom > .tabs,
.tabs.tabs-custom {
  border-color: #db3439;
  background-color: #d8d8d8;
  background-image: linear-gradient(0deg, #d8d8d8, #d8d8d8 50%, transparent 50%);
  color: #fff; }
  .tabs-custom > .tabs .tab-item .badge,
  .tabs.tabs-custom .tab-item .badge {
    background-color: #db3439;
    color: #387ef5; }

.tabs-striped.tabs-custom .tabs {
  background-color: #d8d8d8; }

.tabs-striped.tabs-custom .tab-item {
  color: rgba(255, 255, 255, 0.4);
  opacity: 1; }
  .tabs-striped.tabs-custom .tab-item .badge {
    opacity: 0.4; }
  .tabs-striped.tabs-custom .tab-item.tab-item-active, .tabs-striped.tabs-custom .tab-item.active, .tabs-striped.tabs-positive .tab-item.activated {
    margin-top: -2px;
    color: #fff;
    font-weight: bold;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: #db3439;
  }


  .jobs-details-text-destaque{
    color: #fff !important;
    font-family: fantasy !important;
    font-size: 16px !important;
    margin-top: 5px!important;

  }

    .jobs-details-text-destaque .qw-title-bg {
      position: absolute;
      background-color: #000;
      width: 100%;
      height: 100%;
      opacity: 0.4;
      z-index: -9999;
    }

    .jobs-details-text-destaque .qw-title {
      color: #fff;
      z-index: 9999;
    }

  .jobs-details-text{
    color: #fff;
    font-size: 14px;
    margin-top: 5px;
  }
  .jobs-details{
    display: inline-block;;
    background-color: #444444;
    width: 100%;
  }
.post-space-card{
  margin-top: 20%;
}

.post-details-margin{
  margin-top: 15px;
}
